{% extends 'base.html.twig' %}

{% block body %}
  <div class="container" id="content">
    <div class="row">
      <div class="col-md-4 offset-md-3">
        <h1>Oops ! Something went wrong.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-2">
        <p>We're working on getting this fixd as soon as we can. You may be able to try again.
        </p>
      </div>
    </div>
  </div>
{% endblock %}